:root {
  --navBg: #060b26;
}

.naVbar {
  position:fixed ;
  justify-content: center;
  width: 10%;
  background-color: var(--navBg) ;
  top: 0;
  margin-top: 50px;
  padding: 10px;
  margin-left: 0px;
  justify-content: start;
  height: 100%;
 
}

.menu-bars {
  background: none;
 
}

.nav-menu {
  
  background-color: var(--navBg);
 
  height: 100%;
  justify-content: center;
  position:fixed ;
  margin-top: 47px;
  padding-top: 10px;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 666;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 317.156px;
  padding: 0;
}


span {
  margin-left: 16px;
}