@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: inherit;
}

body {
 
  margin: 0;
  font-family:  'Roboto',Helvetica,-apple-system, 'Segoe UI', Arial, sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* For browsers that do not support gradients */
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #0b0e20, #0c2da3);
  
}
 #danger p{
  color: red;
}


menu{
  color: #3498ff;
  position: fixed;
  z-index: 9999;
  margin-top: 0px;
  
}


#menu item:hover{
  color: #d2f608;
}
#menu item:hover{
  color: #d2f608;
}
#menu item:focus{
  color: #d2f608;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hero{
  padding-top: 80px;
  color: white;
}


#main{
  display: flex;
	justify-content: center;
	align-items: center;
  padding: 10px;
  color: #ffffff;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom right, #0d122e, #0c2da3);
  background-color: #191919 ;
  border-radius: 10px;
  max-width: 50%; 
  margin: auto ;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 100vh;
  min-height:550px ;
  min-width: 300px;
  
}

#product{
  min-width:350px ;
}

.product-form input{
  width:5000px
}





.no-outline:focus {
  outline: none;
}

.h4ofproduct {
 
  justify-content: center;
  display: flex;
  margin-top: 20px;
}


#main h4{
  color: rgb(255, 255, 255);
}
#main input{
  margin-top: 35px;
  min-width: 250px;
  max-width: 50%;
  display: flex;
  border: 1px solid #ffffff;
	background-color: #191919;
  max-width: 40%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
}
#main input:focus{
  border: 1px solid #ffffff;
  background-color: #191919;
  outline-offset: 0px;
  outline: none;
  color: #ffffff;
  max-width: 40%;  
  
}

#normal  {
	border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  margin-top: 15px;
  width: 250px;
  display: block;
  
}
#danger p{
  margin-left: 70px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 18px;
  font-size: 13px;
  color: rgb(227, 20, 20);
  display: block;
}
#blue p{
  margin-left: 75px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 13px;
  color: rgb(20, 158, 227);
  display: block;
}


#main button:active {
	transform: scale(0.95);
}

#forgot{
  color: #000000;

}


.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title {
  color: blue;
}



#sideNav{
  padding-left: 0px;
  padding-right: 0px; 

}






#resetPass{
  margin-top: 10px;
  padding: 10px;
}
#resetPass input{
  margin-top: 10px;
  padding: 10px;
  max-width: 700px;
  min-width: 260px;
  display: flex;
  border: 1px solid #ffffff;
	background-color: #191919;
  max-width: 60%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
}

#resetPass input:focus
{
    
    border: 1px solid #ffffff;
    background-color: #191919;
    outline-offset: 0px;
    outline: none;
    color: #ffffff;
    max-width: 40%;  
    
}

#resetPassInput{
  
  display: flex;

  
}

.navLink {
  
  padding: 0.5rem 1rem;
  color: #000000;
  align-items: center;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

#normal1{
  border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  margin-top: 35px;
  width: 260px;
  
  
  
}

#normal:focus{
 background-color: rgb(28, 210, 28);
 
}


#category-create{
  margin-bottom: 100px;
  display: flex;
	justify-content: center;
	align-items: center;
  padding-top: 100px;
  padding-bottom: 120px;
  color: #ffffff;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
  background-color: #060b26 ;
  border-radius: 10px;
  max-width: 100%;
  text-align: center;
  width: 95%;
  margin-top: 100px;
  height: 95%;
  min-height:550px ;
  min-width: 300px;
  margin: auto;
  
 


 
}
.filter-pad{
  background-color: #000000;
  margin-top:19px;
}
#category-create input{
  margin-top: 35px;
  min-width: 350px;
  display: flex;
  border: 1px solid #ffffff;
	background-color: #191919;
  max-width: 40%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
}
#category-create button{
 
  min-width: 350px;
  max-width: 50%
}

.category-list{
 
 
  margin-top: 100px;
  padding: 10px;
  margin-right: 0px;
  background-color: #030c3e;
  width: 90%;
  min-width: 300px;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 180px;
  padding-bottom: 100px;
}
.category-list h4{
 margin-bottom: 80px;
 margin-top:40px;

  
}

.list{
  
  align-items: center;
  padding: 15px;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 10px;
  border: solid 1px ;
  margin-left: 20px;
  margin-right: 20px;
}
.list:hover{
  padding: 15px;
  background-color:#1F51FF ;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(0, 120, 248), 0 5px 5px 0 rgb(27, 134, 235);

}
.button-Icon{
  margin:0px;
  padding: 4px 10px;
  background-color: #567cff;
  margin-left: 10px;
  border-radius: 5px;
  float: right;
}
.button-Icon:hover{
 cursor:pointer;
 background-color: #FFFF33;
 transition: 0.2s linear;
}


.filter-pad{
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
}
.filter-pad:focus{
  color: rgb(0, 0, 0);
  background-color:#FFFF33;
  transition: 0.6s linear;
}

.drop{
  margin-top: 50px;
  min-width: 40%;
  margin-bottom: 20px;
  
  
}

.select{
  display: block;
  align-items: center;
  margin: auto;
  width: 60%;
  padding: 18px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #fffcfc;
  background-color: #191919;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
  transition: all .2s linear;
}

#hero{
  padding: 40px;
  margin-top: 80px;
}
.product-form{
    font-family: var(--mdb-font-roboto);
    line-height: 1.6;
    color: #4f4f4f;
    display:flex;
    width: 100%;
    padding: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    appearance: none;
    border-radius: 0.25rem;
    transition: all .2s linear;
    border-radius: 10px;
    margin-bottom: 25px;
}
.form-group{
  background-color: #030c3e;
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #FFFFFF;
}
.form-group:hover{
  box-shadow: 0 0 20px 0 rgb(194, 233, 51), 0 5px 5px 0 rgb(115, 251, 23);
  transition: 0.2s linear;
}
#submit{
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 15px;
  width: 250px;
  margin-bottom: 50px;
  
}
#submit:hover{
  box-shadow: 0 0 20px 0 rgb(194, 233, 51), 0 5px 5px 0 rgb(115, 251, 23);
  transition: 0.2s linear;
}



